<!DOCTYPE html>
<html>
<head>
    <title>Fermonitor - Brewfather</title>
    <meta http-equiv="refresh" content="60">
</head>
<body>
    <h1>Fermonitor - Brewfather</h1>
    <a href="/">Chamber</a> - <a href="/tilt">Tilt</a> - <a href="/brewfather">Brewfather</a>
    <hr />
    <table>
        {% if timeData %}
        <tr><td>Time of last update: </td><td>{{ timeData }}</td></tr>
        {% endif %}
        {% if lastdata %}
        <tr><td>Last JSON: </td><td>{{ lastdata }}</td></tr>
        {% endif %}
        {% if nextdata %}
        <tr><td>Next JSON: </td><td>{{ nextdata }}</td></tr>
        {% endif %}
    </table>
</body>
</html>
