<!DOCTYPE html>
<html>
<head>
    <title>Fermonitor - Chamber</title>
    <meta http-equiv="refresh" content="60">
</head>
<body>
    <h1>Fermonitor - Chamber</h1>
    <a href="/">Home</a> - <a href="/tilt">Tilt</a> - <a href="/chamber">Chamber</a> - <a href="/controller">Controller</a> - <a href="/brewfather">Brewfather</a>
    <hr />
    <table>
        {% if data.timeBeer %}
        <tr><td>Time of data: </td><td>{{ data.timeBeer }}</td></tr>
        {% endif %}
        {% if data.target %}
        <tr><td>Target temperature: </td><td>{{ data.target }}C</td></tr>
        {% endif %}
        {% if data.tempBeer %}
        <tr><td>Beer temperature: </td><td>{{ data.tempBeer }}C</td></tr>
        {% endif %}
        {% if data.tempBeerWire %}
        <tr><td>Beer temperature (wire): </td><td>{{ data.tempBeerWire }}C</td></tr>
        {% endif %}
        {% if data.tempChamber %}
        <tr><td>Chamber temperature: </td><td>{{ data.tempChamber }}C</td></tr>
        {% endif %}
        {% if data.dates %}
        <tr><td>Dates: </td><td>{{ data.dates }}</td></tr>
        {% endif %}
        {% if data.temps %}
        <tr><td>Temperatures: </td><td>{{ data.temps }}</td></tr>
        {% endif %}
        {% if data.tiltControlled %}
        <tr><td>Tilt Controlled: </td><td>{{ data.tiltControlled }}</td></tr>
        {% endif %}
        {% if data.heating %}
        <tr><td>Heating ON: </td><td>{{ data.heating }}</td></tr>
        {% endif %}
        {% if data.cooling %}
        <tr><td>Cooling ON: </td><td>{{ data.cooling }}</td></tr>
        {% endif %}
    </table>
</body>
</html>

