<!DOCTYPE html>
<html>
    <head>
        <title>Fermonitor - Tilt</title>
	    <meta http-equiv="refresh" content="60">
    </head>
    <body>
        <h1>Fermonitor - Tilt</h1>
        <a href="/">Home</a> - <a href="/tilt">Tilt</a> - <a href="/chamber">Chamber</a> - <a href="/controller">Controller</a> - <a href="/brewfather">Brewfather</a>
        <hr />
        <table>
            <tr><td><b>TIME</b></td><td><b>SPECIFIC GRAVITY</b></td><td><b>TEMPERATURE</b></td></tr>
            {% for row in data %}
            <tr>
                <td style="text-align:left">
                    {% if row.TIME %}
                    {{ row.TIME }}
                    {% endif %}
                </td>
                <td style="text-align:right">
                    {% if row.TIME %}
                    {{ row.SG }}
                    {% endif %}
                </td>
                <td style="text-align:right">
                    {% if row.TIME %}
                    {{ row.TEMP }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>